# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Frontend
node_modules/
dist/
*.tsbuildinfo
dev-server*.log

# Environment Variables
.env

# IDE
.vscode/

# OS Files
.DS_Store
Thumbs.db
